* {
    margin: 0;
    padding: 0;	
}

html {height: 100%}
header, section, article, footer {display: block;}
body {height: 100%; width: 100%; background:  #fefefe;}
.maxw {margin: auto; min-width: 850px; max-width: 1100px;}
#wrapper {position: relative; margin: 0 auto; height: auto !important; height: 100%;}

header {min-width: 480px; width: 100%; height: 100px; margin: 0px 100px 0px 100px; }

.section {width: 100%; padding: 0 0 100px; position: relative;}
.mainwrap {width: 100%; float: left; /*overflow: hidden; */}
.main {padding: 0 100px 0 100px; min-height: 400px; margin: 0; display: block;}

.Header_logo_wrap {display: inline-block;  width: 20%; height: 40px; left: 20px;}
.logo_background {width: 120px; height: 40px; background-color: #1F5184; padding: 15px;}

.Header_comment { display: inline-block; width: 35%; height: 40px; margin-right: 10px} 
.Header_phone { display: inline-block; width: 45%; text-align: left; max-width: 180px; height: 40px;}

.Header_phone_ph { display: block; font-size: 18px;}
.Header_phone_text {font-size: 12px;}


.main_photo { display: block; height: 450;}

.photo_1 {width: 56%; height: auto; display: inline-block;}
.photo_2 {width: 27%; height: auto; display: inline-block; vertical-align: top; padding-left: 1%;}


img {width: 100%; height: auto;}

.main_wrap {display: block; margin-bottom: 60px;}
.name {width: 85%;}
.main_text{display: inline-block; width: 50%;}
.price { font-size: 24px;}

.middle{ width: 8%; display: inline-block;}

.evac_type {display: inline-block; vertical-align: top; margin-right: 15px; margin-bottom: 50px; width: 45%}
.evac_img {display: inline-block; }


.characteristic {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	/*margin-top: 80px;
	margin-left: 50px; */
}
.tip {display: block; padding-bottom: 35px; margin-top: 15px; vertical-align: top;}
.tip_img {height: auto; width: 100px; display: inline-block; }
.tip_text {display: inline-block; height: 30px; vertical-align: top; width: 60%; padding-left: 10px;}

.install{ display: block; vertical-align: top;}

.install_text {display: inline-block; width: 55%; margin-bottom: 60px;}
.install_video {display: inline-block; width: 35%; margin-bottom: 60px; vertical-align: top; margin-top: 65px; margin-left: 40px;}

.evacuate_wrap {display: block;}
.evacuate{
	display: inline-block;
	clear: both;
	margin-top: 20px;
	width: 44%;
	vertical-align: top;
	margin-bottom: 30px;
}

.evacuate_text {display: block; margin-bottom: 40px;}
.evacuate_video {display: block; margin-bottom: 10px; width: 70%}
.evacuate_middle {width: 8%; display: inline-block;}

h1 { margin-top: 20px; margin-bottom: 0px;}
h2 { padding: 0px; font-size: 22px; width: 450px; }
span { font-size: 14px; padding: 0px; } 
ul li{ font-size: 18px; margin: 0; padding: 0; }

.comment {
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 8px;}

ol li {font-size: 16px}

.main_text {font-size: 18px;}

.contacts {display: block; margin-bottom: 60px;}
.contacts_text {width: 30%; margin-right: 20px; display: inline-block; vertical-align: top;}
.contacts_block {margin-bottom: 30px; display: block; }
.map {width: 60%; height: auto; display: inline-block;}

footer {width: 100%; 
		min-width: 240px; 
		height: 100px; 
		vertical-align: top;
		clear:both;
		background-color: #1F5184}

.footer_content {margin: 0px 100px 0px 100px; color: white; height: 100%}

.footer_comment {display: inline-block; width: 40%; height: auto; padding-top: 20px;}
.footer_comment span { font-size: 12px; }
.footer_phone_ph {display: inline-block; width: 30%; height: auto; padding-top: 28px; vertical-align: top; }





